<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>

  <add name="AmurStoreEntities" connectionString="metadata=res://*/AmurStore.csdl|res://*/AmurStore.ssdl|res://*/AmurStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Pompos\SQLEXPRESS;initial catalog=AmurStore;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>